body {
    background-image: url("../img/birthday-decoration.jpg");
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
div {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}
h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    background: #ececec;
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.3s, transform 0.3s;
}
li:hover {
    background: #d4d4d4;
    transform: scale(1.02);
}
input {
    width: calc(100% - 24px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s, transform 0.3s;
}
button:hover {
    transform: scale(1.05);
}
.add-btn {
    background-color: #3373e9;
    color: white;
}
.add-btn:hover {
    background-color: #174bad;
}
.delete-btn {
    background-color: #ff4d4d;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
.delete-btn:hover {
    background-color: #ff1a1a;
}